<div class="sidebar">
    <div id="search" class="widget widget_search">
        <form role="search" class="search-form-widget"><label><input type="search"
                                                                     class="search-field"
                                                                     placeholder="Search..."></label>
            <button type="submit" class="search-submit"><i class="ei ei-icon_search"></i></button>
        </form>
    </div>
    <div id="categories" class="widget widget_categories"><h2 class="widget-title">Categories</h2>
        <ul>
            <li><a href="#">Web Design <span class="count">(6)</span></a></li>
            <li><a href="#">Web Development <span class="count">(14)</span></a></li>
            <li><a href="#">Graphics <span class="count">(12)</span></a></li>
            <li><a href="#">IOS/Android Design <span class="count">(10)</span></a></li>
            <li><a href="#">App & Saas <span class="count">(4)</span></a></li>
            <li><a href="#">Fresh Products <span class="count">(9)</span></a></li>
            <li><a href="#">Saas Design <span class="count">(8)</span></a></li>
        </ul>
    </div>
    <div id="gp-posts-widget-2" class="widget gp-posts-widget"><h2 class="widget-title">Latest
        News</h2>
        <div class="gp-posts-widget-wrapper">
            <div class="post-item">
                <div class="post-widget-thumbnail"><a href="#"><img src="media/blog/8.jpg"
                                                                    alt="thumb"></a></div>
                <div class="post-widget-info"><h5 class="post-widget-title"><a href="#"
                                                                               title="This Is Test Post">The
                    Festive Season is Approaching</a></h5><span class="post-date">May 16, 2019, Saturday</span>
                </div>
            </div>
            <div class="post-item">
                <div class="post-widget-thumbnail"><a href="#"><img src="media/blog/9.jpg"
                                                                    alt="thumb"></a></div>
                <div class="post-widget-info"><h5 class="post-widget-title"><a href="#"
                                                                               title="This Is Test Post">Shrimp
                    Scampi With Linguini</a></h5><span
                        class="post-date">Apri 16, 2019, Thursday</span></div>
            </div>
            <div class="post-item">
                <div class="post-widget-thumbnail"><a href="#"><img src="media/blog/10.jpg"
                                                                    alt="thumb"></a></div>
                <div class="post-widget-info"><h5 class="post-widget-title"><a href="#"
                                                                               title="This Is Test Post">Join
                    Us For a Delicious Event</a></h5><span
                        class="post-date">Oct 16, 2019, Monday</span></div>
            </div>
        </div>
    </div>
    <div id="widget_recent_comments" class="widget widget_recent_comments"><h2 class="widget-title">
        Recent Comments</h2>
        <div class="recent-comments">
            <div class="comment-list">
                <div class="icon"><i class="ei ei-icon_chat_alt"></i></div>
                <div class="comment-content"><h3>Bailey Wonger <span>on</span></h3>
                    <p><a href="#">My lady mush hanky panky young delinquent.!</a></p></div>
            </div>
            <div class="comment-list">
                <div class="icon"><i class="ei ei-icon_chat_alt"></i></div>
                <div class="comment-content"><h3>Hans Down <span>on</span></h3>
                    <p><a href="#">Why I say old chap that is<br>spiffing daft, blow.!</a></p></div>
            </div>
            <div class="comment-list">
                <div class="icon"><i class="ei ei-icon_chat_alt"></i></div>
                <div class="comment-content"><h3>Justin Case <span>on</span></h3>
                    <p><a href="#">Tomfoolery hanky panky<br>geeza I my good.!</a></p></div>
            </div>
        </div>
    </div>
    <aside id="tags" class="widget widget_tag"><h3 class="widget-title">Popular Tags</h3>
        <div class="tagcloud"><a href="#">App & Saas</a> <a href="#">UI/ Design</a> <a href="#">Branding</a>
            <a href="#">Design</a> <a href="#">Landing</a> <a href="#">Pix Saas Blog</a> <a
                    href="#">Development</a> <a href="#">The Saas</a></div>
    </aside>
</div>
